FindSim-Schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.w3schools.com" xmlns="https://www.w3schools.com" elementFormDefault="qualified">
<xs:element name="FindSim">
  <xs:complexType>
  <xs:sequence>
    <xs:element name="Experimenti-metadata">
      <xs:annotation>
        <xs:documentation>This block gives information about the transcriber and experimetal source</xs:documentation>
      </xs:annotation>
      <xs:complexType>
        <xs:sequence>
          <xs:element name="transcriber" type="xs:string"/>
          <xs:element name="organization" type="xs:string">
            <xs:annotation>
            <xs:documentation>This block gives information about the transcriber and experimetal source</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="emailId" type="xs:string"/>
          <xs:element name="exptSource">
             <xs:annotation>
              <xs:documentation>Experiment data source</xs:documentation>
              </xs:annotation>
            <xs:simpleType>
              <xs:restriction type="xs:string" default="Paper">
              <xs:enumeration value="Paper"/>
              <xs:enumeration value="InHouse"/>
              <xs:enumeration value="experiment"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="citationId" type="xs:string">
             <xs:annotation>
              <xs:documentation>Digital Object Identifier for data source, where applicable. In non-published data this should be left blank.</xs:documentation>
              </xs:annotation>
          </xs:element>
          <xs:element name="authors" type="xs:string">
            <xs:annotation>
              <xs:documentation>Author list if paper, contributors if other data sources. One author per column.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="journal" type="xs:string">
            <xs:annotation>
              <xs:documentation>Journal name, year.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="Experiment-context">
      <xs:annotation>
        <xs:documentation>This block specifies the data source(s) that were 
used to build this experimental dataset</xs:documentation>
      </xs:annotation>
      <xs:complexType>
        <xs:sequence>
          <xs:element name="exptType">
          <xs:annotation>
            <xs:documentation>experiment type is the board category of experiment context</xs:documentation>
          </xs:annotation>
           <xs:simpleType>
           <xs:restriction type="xs:string" default="TimeSeries">
            <xs:enumeration value="TimeSeries"/>
            <xs:enumeration value="DoseResponse"/>
            <xs:enumeration value="BarChart"/>
           </xs:restriction>
           </xs:simpleType>
        </xs:element>
          <xs:element name="species" type="xs:string">
            <xs:annotation>
              <xs:documentation>Species in which the experiment was done</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="cell-types" type="xs:string">
            <xs:annotation>
              <xs:documentation>Cell type</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="temperature-in-Celsius" type="xs:int"/>
           <xs:element name="includePathway" type="xs:string"/>
           <xs:element name="details" type="xs:string">
            <xs:annotation>
              <xs:documentation>Figure panel, table, and other similar specific information about the experiment.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="notes" type="xs:string">
            <xs:annotation>
              <xs:documentation>Notes on experimental conditions, anything else that is relevant to simulating the experiment.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element> <!-- Close ExperimentContext-->
    <xs:element name="Stimuli">
      <xs:annotation>
        <xs:documentation>The "Stimulus" block specifies the molecular or other stimuli given to the system during the experiment.
To create mutiple stimulus block's, copy entire block and paste below.
This block is optional, i.e., if no stimulus exist one can delete this block.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
      <xs:sequence>
        <xs:element name="timeUnits">
          <xs:annotation>
            <xs:documentation>Units of time for data. Typically seconds</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction type="xs:string" default="sec">
              <xs:enumeration value="sec"/>
              <xs:enumeration value="millisec"/>
              <xs:enumeration value="microsec"/>
              <xs:enumeration value="nanosec"/>
              <xs:enumeration value="min"/>
              <xs:enumeration value="hrs"/>
              <xs:enumeration value="days"/>
            </xs:restriction>]
          </xs:simpleType>
        </xs:element>
        <xs:element name="quantityUnits">
          <xs:annotation>
            <xs:documentation>Units of quantity for data. Typically uM, i.e micronmolar</xs:documentation>
          </xs:annotation>
         <xs:simpleType>
           <xs:restriction type="xs:string" default="mM">
            <xs:enumeration value="mM"/>
            <xs:enumeration value="uM"/>
            <xs:enumeration value="nM"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="mV"/>
            <xs:enumeration value="uV"/>
            <xs:enumeration value="V"/>
            <xs:enumeration value="mA"/>
            <xs:enumeration value="uA"/>
            <xs:enumeration value="nA"/>
            <xs:enumeration value="pA"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="ratio"/>
           </xs:restriction>
         </xs:simpleType>
        </xs:element>
        <xs:element name="entities" type="xs:string">
        <xs:annotation>
            <xs:documentation>Object to modify, specified as full MOOSE path</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="field">
          <xs:annotation>
            <xs:documentation>Fields to modify</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction type="xs:string" default="concInit">
            <xs:enumeration value="nInit"/>
            <xs:enumeration value="n"/>
            <xs:enumeration value="conc"/>
            <xs:enumeration value="concInit"/>
            <xs:enumeration value="inject"/>
            <xs:enumeration value="Vclamp"/>
           </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Data">
          <xs:annotation>
            <xs:documentation>This specifies the start line of the data block of each stimulus.
time-value pair or entity-value</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Time" type="xs:decimal">
              <xs:simpleType>
                <xs:restriction type="xs:string" default="Time">
                <xs:enumeration value="Time"/>
                <xs:enumeration value="Entity"/>
                </xs:restriction>
              </xs:simpleType>
              </xs:element>
              <xs:element name="Value" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element> <!-- closed for stimulus -->
    <xs:element name="ReadOuts">
      <xs:annotation>
        <xs:documentation>The "Readout" block specifies the values to read from the simulation.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
      <xs:sequence>
        <xs:element name="timeUnits">
          <xs:annotation>
            <xs:documentation>Units of time for data. Typically seconds.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction type="xs:string" default="millisec">
            <xs:enumeration value="sec"/>
            <xs:enumeration value="millisec"/>
            <xs:enumeration value="microsec"/>
            <xs:enumeration value="nanosec"/>
            <xs:enumeration value="min"/>
            <xs:enumeration value="hrs"/>
            <xs:enumeration value="days"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="quantityUnits">
          <xs:annotation>
            <xs:documentation>Units of quantity for data. Typically uM i.e micromolar.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction type="xs:string" default="mM">
            <xs:enumeration value="mM"/>
            <xs:enumeration value="uM"/>
            <xs:enumeration value="nM"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="uM"/>
            <xs:enumeration value="mV"/>
            <xs:enumeration value="uV"/>
            <xs:enumeration value="V"/>
            <xs:enumeration value="mA"/>
            <xs:enumeration value="uA"/>
            <xs:enumeration value="nA"/>
            <xs:enumeration value="pA"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="ratio"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="useXlog" type="xs:boolean" default="False">
          <xs:annotation>
            <xs:documentation>Use logarithmic scaling for X axis.</xs:documentation>
          </xs:annotation>
        </xs:element>  
        <xs:element name="useYlog" type="xs:boolean" default="False">
          <xs:annotation>
            <xs:documentation>Use logarithmic scaling for Y axis.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="useNormalization" type="xs:boolean" default="False">
        <xs:annotation>
            <xs:documentation>Normalizating the value to the first "Data" point</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="settleTime" type="xs:decimal" default="0">
        <xs:annotation>
            <xs:documentation>For DoseResponse or Electrophysiological experiments.The incubation time used for each dose.</xs:documentation>
          </xs:annotation>
        </xs:element>  
        <xs:element name="ratioReferenceTime" type="xs:decimal">
        <xs:annotation>
            <xs:documentation> 0 : initial value of the "ratioReferenceEntity" for the "field" (n,conc) specified.
                              -1 : instantaneousRatio Ratio of the "Readout molecule" to the ratioReferenceEntity" at every time point
                              >0 : value of ratioReferenceEntity" at specified run time will be taken as reference.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
	<xs:element name="ratioReferenceEntities" type="xs:string">
        <xs:annotation>
            <xs:documentation>Object(s) to use as reference in case there is a ratio readout.This field needs to be set.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ratioReferenceDose" type="xs:string" default="0">
          <xs:annotation>
            <xs:documentation>Dose of the reference used </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="entities" type="xs:string">
          <xs:annotation>
            <xs:documentation>Object(s) to read out from the experiment.'+' sign is used to sum the molecule, If 'useSum' is set true.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="field">
          <xs:annotation>
            <xs:documentation>Field to moniotor in the readout.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction type="xs:string" default="conc">
            <xs:enumeration value="conc"/>
            <xs:enumeration value="n"/>
            <xs:enumeration value="Vm"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>  
        <xs:element name="Data">
           <xs:annotation>
            <xs:documentation>Data block for experimental data, corresponding to block above. 3 columns. Can repeat.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Time" type="xs:decimal">
                <xs:simpleType>
                <xs:restriction type="xs:string" default="Time">
                <xs:enumeration value="Time"/>
                <xs:enumeration value="Dose"/>
                <xs:enumeration value="Entity"/>
                </xs:restriction>
          </xs:simpleType>
        </xs:element>
              <xs:element name="Value" type="xs:decimal"/>
              <xs:element name="SEM" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element> <!-- Readout -->
    <xs:element name="Modelmapping">
      <xs:annotation>
        <xs:documentation>The block specifies the model source used to run simulation.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
      <xs:sequence>
        <xs:element name="modelSource">
          <xs:annotation>
            <xs:documentation>This is the type of source for the model, such as a paper or database</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction type="xs:string" default="Localpath">
            <xs:enumeration value="Localpath"/>
            <xs:enumeration value="DOQCS"/>
            <xs:enumeration value="BioModels"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fileName" type="xs:string">
          <xs:annotation>
            <xs:documentation>Path to the model file for loading</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="citationId" type="xs:string">
          <xs:annotation>
            <xs:documentation>The URL or accession number of the model in a database.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="citation" type="xs:string">
          <xs:annotation>
            <xs:documentation>DOI for the paper</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="authors" type="xs:string">
          <xs:annotation>
            <xs:documentation>Author list, one author per column.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="modelSubset" type="xs:string" default="All">
          <xs:annotation>
            <xs:documentation>Default is all, groups with in the model that is to be retained. In one cell, in the MOOSE format, with commas as separators between further subsets</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="modelLookup" type="xs:string">
          <xs:annotation>
            <xs:documentation>This would be dictionary map from the `Stimulus->entities`, `Readouts->entities`, `Readouts->ratioReferenceEnties` blocks to species map to the model.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="scoringFormula" type="xs:string" default="abs((expt-sim)/(expt+sim+1e-9))"/>
        <xs:element name="itemstodelete" type="xs:string" default="string"/>
        <xs:element name="solver">
          <xs:annotation>
            <xs:documentation>Which numerical method to use for the simulation</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction type="xs:string" default="Runge kutta method">
            <xs:enumeration value="exponential euler method"/>
            <xs:enumeration value="Runge kutta method"/>
            <xs:enumeration value="Stoichastic simulation"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="notes" type="xs:string">
          <xs:annotation>
            <xs:documentation>Curator notes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="parameterChange">
          <xs:annotation>
            <xs:documentation>Parameters to change from the original model. One can change any number of such parameters, and each one is on a new line. For example, the baseline concentration of one molecule may be changed for the purposes of an experiment, to represent the presence of a blocker in that experiment. Additionally the forward rate constant of a reaction may change. Each line here has four colums: 1. The parameterChange keyword. 2. The full MOOSE path of the object which is being changed. 3. The field of this object to change and 4. The new value of the object.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Object" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Full path of object as in MOOSE</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="parameter">
                <xs:simpleType>
                  <xs:restriction type="xs:string" default="concInit">
                  <xs:enumeration value="concInit"/>
                  <xs:enumeration value="nInit"/>
                  <xs:enumeration value="Kf"/>
                  <xs:enumeration value="Kb"/>
                  <xs:enumeration value="Km"/>
                  <xs:enumeration value="Kcat"/>
                  <xs:enumeration value="Im"/>
                  <xs:enumeration value="Vm"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element> 
              <xs:element name="Value" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
  </xs:complexType> 
</xs:element>
</xs:schema>
